---
title: Contact
---
    {% include head.html %}
    <div class="container section">
    <h2><span><img src="span.svg"></span>Contact<span><img src="span.svg"></span></h2>
      <div class="row">
        <div class="col-lg-3 text-center">
          <img src="/photos/logo-icone.jpg" alt="Logo Chol traiteur Toque de cuisinier" title="Logo Chol traiteur Toque">
          <ul class="contact">
            <li>86 route de Dijon <br> 21470 Brazey en Plaine</li>
            <li>Accueil au bureau le mardi de 14h à 18h et du mercredi au samedi de 9h à 12h30 et 14h à 18h</li>
            <li><a href="mailto:contact@choltraiteur.fr">contact@choltraiteur.fr</a></li>
            <li>03 80 29 82 67 &mdash; 06 71 21 46 93</li>
            <li><a href="https://www.facebook.com/Choltraiteurbrazey/" target="_blank"><img class="reseau" alt="Logo Facebook" src="/photos/facebook.svg">Facebook</a></li>
            <li><a href="https://www.instagram.com/choltraiteur/" target="_blank"><img class="reseau" alt="Logo instagram" src="/photos/instagram.svg">Instagram</a></li>
          </ul>
        </div>
        <div class="col-lg-7 offset-lg-2">
          <form action="https://neamar.fr/email.php" method="POST" id="contactform" onsubmit="document.getElementById('protection').value = 2"/>
            <input type="hidden" name="protection" id="protection" value="1" />
            <div class="form-group">
              <label for="exampleFormControlInput1">Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nom@exemple.fr" name="_replyto">
            </div>
             <input type="hidden" name="_subject" value="Contact choltraiteur.fr" />
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <p class="devis">Pour une demande de devis, n'hésitez pas à préciser : le nombre de convives, la date, si besoin de vaiselle et/ou de serveurs ainsi que vos coordonnées.</p>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="9" name="message"></textarea>
            </div>
            <input type="hidden" name="_to" value="contact@choltraiteur.fr" />
            <input class="button" type="submit" value="Envoyer">
            <div class="info success">
              Votre message a bien été envoyé
            </div>
            <div class="info error">
              Une erreur s'est produite.
            </div>
          </form>
        </div>
      </div>
    </div>

  {% include footer.html with_contact_script=1 %}
