---

---
    {% include head.html %}
    <div class="container">
    <h2><span><img src="span.svg"></span>Contact<span><img src="span.svg"></span></h2>
      <div class="row">
        <div class="col-lg-3 text-center">
          <img src="photos/logo-icone.jpg">
          <ul class="contact">
            <li>86 route de Dijon <br> 21470 Brazey en Plaine</li>
            <li>Accueil au bureau du mardi au samedi - 9h à 12h30 et 14h à 18h</li>
            <li><a href="mailto:contact@choltraiteur.fr">contact@choltraiteur.fr</a></li>
            <li>03 80 29 82 67 &mdash; 06 71 21 46 93</li>
          </ul>
        </div>
        <div class="col-lg-7 offset-lg-2">
          <form action="https://formspree.io/contact@choltraiteur.fr" method="POST" />
            <div class="form-group">
              <label for="exampleFormControlInput1">Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nom@exemple.fr" name="email">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Objet</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Devis</option>
                <option>Demande de renseignements</option>
                <option>Autre</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <p class="devis">Pour une demande de devis, n'hésitez pas à préciser : le nombre de convives, la date, si besoin de vaiselle et/ou de serveurs ainsi que vos coordonnées.</p>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="9" name="message"></textarea>
            </div>
            <input class="button" type="submit" value="Envoyer">
          </form>
        </div>
      </div>
    </div>

  {% include footer.html %}
