---
---
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Fin du reset*/

@font-face {
    font-family: 'garagegothicbold';
    src: url('fonts/garage_gothic_bold-webfont.woff2') format('woff2'),
         url('fonts/garage_gothic_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dr Sugiyama";
    src: url('fonts/drsugiyama-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Old Standard TT";
    src: url('fonts/oldstandardtt-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Old Standard TT";
    src: url('fonts/oldstandardtt-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Old Standard TT";
    src: url('fonts/oldstandardtt-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

:root{
  --font-fancy: 'Dr Sugiyama';
  --font-logo: 'garagegothicbold';
  --font-text: 'Old Standard TT';
  --black: #151515;
  --grey: #F1F1F1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 1950px;
  width: 100%;
  font-family: var(--font-text);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  font-weight: 700;
  width: 100%;
  max-width: 1400px;
  height: 70px;
}

.sub-menu #logo{
  transform: translateY(10px);
  img{
    width: 220px;
  }
}

.sub-menu{
  .particuliers{
    --sub-menu: 180px;
  }
  .pro{
    --sub-menu: 200px;
  }
  a.nav-btn{
    width: var(--sub-menu);
  }
  .sub-menu-alt a{
    width: var(--sub-menu);
    box-sizing: border-box;
  }
}

.sub-menu a:not(#logo) {
  font-size: 16px;
  display: inline-block;
  color: var(--black);
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  transition: all .5s;
  box-sizing: border-box;
  min-width: 120px;
  font-weight: 700;
  cursor:pointer;
  margin: 0;
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
}

.sub-menu a:not(#logo).active {
  background: var(--black);
  color: white;
}

.sub-menu-nav {
  overflow: hidden;
}

.sub-menu .sub-menu-nav:hover a:not(#logo){
  background-color: var(--black);
  color: white;
}

.sub-menu-alt {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--black);
  width: inherit;
  z-index: 1;
}

.sub-menu .sub-menu-nav .sub-menu-alt a {
  min-width: 90px;
  color: white;
  text-decoration: none;
}

.sub-menu .sub-menu-nav .sub-menu-alt a:not(#logo):hover {
  background-color: white;
  color: var(--black);
}

.sub-menu-nav:hover .sub-menu-alt {
  display: flex;
}

h1{
  font-size: 5em;
}

.title{
  margin: 0 0 5em 0;
  text-align: center;
}

.title span{
  text-transform: uppercase;
  color: #8e6349;
  font-size: 1.5em;
}

h2{
  font-family: var(--font-fancy);
  font-size: 6em;
}

h3{
  font-family: var(--font-fancy);
  font-size: 4em;
}

p.fancy{
  font-family: var(--font-fancy);
  font-size: 3em;
}

h4{
  font-size: 1.8em;
  font-family: var(--font-logo);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

span.span_title{
  font-size: 1.8em;
  font-family: var(--font-logo);
  text-transform: uppercase;
}

p{
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  margin: 1em 0 0.5em 0;
}

p.bold{
  font-weight: 700;
}

p.big_p{
  font-size: 2em;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

.img-fluid{
  width: 100%;
}

.bandeau{
  width: 100%;
  max-width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-image: url('/photos/bandeau/bandeau-accueil.png');
  color: white;
  p{
    font-size: 1.5em;
    margin: 0.2em 0;
  }
  .head_title{
    span{
      font-family: var(--font-fancy);
      font-size: 4em;
      text-align: center;
    }
  }
}

.bandeau_pages{

}

.grey{
  background-color: var(--grey);
  width: 100%;
  padding: 2em 3em;
  box-sizing: border-box;
}

.grey.avis{
  padding: 0 3em 2em 3em;
  margin-top: 2em;
  h3{
    transform: translateY(-40px);
  }
}

.index_prestation{
  gap: 30px;
  a.img-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    img{
      transition: transform ease-in 0.5s;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
    p{
      position: absolute;
      color: white;
      vertical-align: middle;
      font-family: var(--font-logo);
      font-size: 2.5em;
      text-transform: uppercase;
    }
    span{
      font-family: var(--font-text);
      display: block;
      font-size: 0.5em;
      text-transform: none;
    }
  }
}

.prestation{
  display: flex;
  width: 40%;
  p{
    margin: 0.2em 0;
  }
}

button.cta, input[type=submit], a.cta-link{
  color: white;
  background-color: var(--black);
  font-family: var(--font-logo);
  padding: 0.4em 1em;
  font-size: 1.3em;
  border-radius: 5px;
  outline: 0;
  border: 0;
  max-width: 150px;
  text-transform: none;
  font-weight: 400;
  min-height: 40px;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover{
    border: 2px solid var(--black);
    background-color: transparent;
    color: var(--black);
  }
}

.reseaux{
  background-color: var(--black);
  color: white;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  padding: 1em 3em;
  .row{
    gap: 10px;
    justify-content: center;
    align-items: center;
    a{
      display: flex;
      gap: 10px;
      text-decoration: none;
    }
    p{
      margin: 0em 0.2em 0 0;
    }
    span{
      color: white;
      line-height: 30px;
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}

.equipe{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-self: center;
  .row{
    gap: 30px;
    padding: 0 1em 0 2em;
    margin-top: 1em;
    img{
      width: 520px;
      height: 520px;
    }
    h2{
      text-align: left;
    }
    p{
      text-align: left;
    }
  }
  .entreprise{
    margin: 3em 0;
    padding: 0 1em 0 2em;
    columns: 2;
    p{
      text-align: left;
    }
    h2, h4{
      text-align: center;
    }
  }
}

a{
  text-decoration: none;
  font-family: var(--font-text);
  font-weight: 700;
  font-size: 1em;
}

.link{
}

.avis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  margin-bottom: 1em;
  .slides{
    display: flex;
    list-style: none;
    width: 2400px;
    position: relative;
    left: 0;
    gap: 20px;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    .slide{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: white;
      border-radius: 5px;
      padding: 1.5em;
      width: 340px;
      position: relative;
      float: left;
      span.stars{
        font-size: 1.5em;
      }
      span.slide-name{
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
  input[type=radio]{
    order: 2;
  }
#radio-1:checked ~ ul.slides {
    transform: translateX(0);
  }
#radio-2:checked ~ ul.slides {
    transform: translateX(-1200px);
  }
}

.adresse{
  margin: 2.5em 0;
  justify-content: center;
  gap: 80px;
  div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p, a{
      margin: 0.2em 0;
      transform: translateX(115px);
    }
  }
}

.contact{
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    textarea, input[type=email]{
      width: 100%;
      max-width: 900px;
      padding: 0.4em 0.5em 0.2em 0.5em;
      font-family: var(--font-text);
      font-weight: 700;
      font-size: 1em;
      border-radius: 3px;
      border: none;
      margin: 0.4em 0;
      &:focus{
        outline: var(--black) 2px solid;
      }
    }
    input[type=submit]{
      align-self: center;
      margin-top: 2em;
    }
    p{
      max-width: 900px;
      font-size: 0.9em;
      margin: 0.5em;
      line-height: 1.2em;
    }
  }
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: var(--black);
  margin: 0 auto;
  margin-top: auto;
  min-height: 5em;
  color: white;
  padding: 1em;
  font-size: 0.9em;
  position: relative;
  box-sizing: border-box;
  .footer-img{
    position: absolute;
    bottom: 0;
  }
  >:nth-child(1).footer-img{
    left: 0;
  }
  >:nth-child(5).footer-img{
    right: 0;
  }
  div:nth-child(2){
    transform: translateY(-40px);
    margin-right: 3em;
  }
  p{
    margin: 0.1em 0;
  }
  a{
    color: white;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin: 0.5em 0;
  }
}

.boutique{margin-top: 2em;}
.boutique p{margin: 0.5em 0 0.3em 0;}

b{
  font-weight: 400;
}

p.short{line-height: 22px;}

.section{
  margin-top: 4em;
}

.space{padding-top: 2em;}

.bottom{
  margin-bottom: 2em;
}

#menu{
  margin: 0 auto;
  margin-bottom: 6em;
  padding-bottom: 1em;
  border-bottom: 3px solid #ffbd80;
}

.menu{
  font-size: 1.3em;
  line-height: 1.3em
}

.menu h4{font-size: 1.7em;margin-top: 0.5em;}

.menu span{
padding-left: 1em;
padding-right: 1em;
}

.navbar{
  padding: 0 5em 0 5em;
  margin: 0 auto;
  background-color: white;
}

.navbar-light .navbar-nav .nav-link, .dropdown-item{
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.5em;
  font-size: 1.5em;
  font-family:"garagegothicbold", sans-serif;
  color: #8e6349;
  border-top: 3px solid #f8f9fa;
}

.dropdown-item{border-top: none; margin: 0;}
.dropdown-item:focus{color: black;background-color:#f8f9fa;}

.center{justify-content: center;}
small{font-style: italic;font-size: 0.8em;line-height: 0.4em;}
#boutique{
  color: black;
}

#boutique:focus, #boutique:hover{
  color: #39393B;
  border-top: 3px solid #39393B;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #b78669;
  border-top: 3px solid #b78669;
}

.navbar-expand-lg .navbar-collapse{
  justify-content:flex-end;
}


span img{margin:0 0.3em 0 0.3em;}
h3 span img{width: 25px;}

img.profil{
  width: 50%;
}

.contactboutique{
  margin-top: 1em;
}
.contactboutique li{
  text-align: center;
  font-family:"garagegothicbold", sans-serif;
  font-size: 1.5em;
  color: #202d32;
  line-height: 1.2em;
}

.contact li a, .contactboutique li a{
  color: #ffbd80;
}

.contact li a:hover, .contact li a:focus, .contactboutique li a:hover, .contactboutique li a:focus{
  color: #ffbd80;
}

.contact li{
  font-size: 1.4em;
  margin: 0.5em;
  line-height: 1.2em;
}

.info{
  font-family:"garagegothicbold", sans-serif;
  font-size: 1.5em;
}

.error{color: red;display: none;}
.success{color:green;display: none;}

#contactform:focus{
  border-color: #ffbd80;
  box-shadow :0 0 0 0.05rem #ffbd80;
}

.devis{
  font-size: 0.9em;
  font-family: 'open sans', sans-serif;
  font-style: italic;
  text-align: left;
  line-height: 1.2em;
  margin-top: 0;
}

label{padding-bottom: 0.5em;}

.button{
  background-color: #202d32;
  color: white;
  text-transform: uppercase;
  font-size: 1.6em;
  padding: 0.4em 1em 0.2em 1em;
  border: none;
  float: right;
}

.pdf{
  font-size: 1.2em;
  padding: 0.4em 1em 0.4em 1em;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  font-family: "garagegothicbold";
}

.chol{background-color:#8e6349; padding: 0.5em 0.5em; max-width:350px;}
.chol:hover{background-color:#D4946C; max-width:380px;text-decoration: none; transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;}
a.ddl,a.ddl:hover{text-decoration: none;}
a.carte img{width:100%;transform: scale(1);transition: all 0.5s ease-in;}
a.carte img:hover{transform: scale(1.05);transition: all 0.5s ease-out;}
img.span{width: 25px;}
.saint-val{background-color:#F95761; padding: 0.5em 0.5em; max-width:350px;}
.saint-val:hover{background-color:#FA777A; max-width:380px;text-decoration: none; transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;}
.noel{background-color:#0A7533; padding: 0.5em 0.5em; max-width:350px;}
.noel:hover{background-color:#A92921; max-width:380px;text-decoration: none; transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;}

.pdf span{
  font-size:1.3em;
  color: #fff;
  margin: 0 0.15em;
}

.reseau{
  width: 20px;
  margin-right: 1em;
  vertical-align: bottom;
  padding-bottom: 0.15em;
}

.partenaires{
  text-align: center;
  font-family:"garagegothicbold", sans-serif;
  font-size: 1.5em;
  color: #202d32;
}

.partenaires li{
  margin-bottom: 1em;
}

.partenaires li a{
  color: #202d32;
  text-decoration: underline;
}

.gallery div a img{ margin:0.5em; }

@media screen and (max-width: 1795px) {
  .contactboutique{margin-top: 2em;}
}

@media screen and (max-width: 1395px) {
  footer{width: 100%}
  .navbar{width: 100%;}
  .bg{
    background-size: 100%;
    min-height: 100px;
  }
  #menu{width: 80%;}
  .contactboutique{margin-top: 1em;}
}

@media screen and (max-width: 991px) {
  p.short{line-height: 25px;}
  #menu{margin-bottom: 3em;}
  .menu span{display: none;}
  .section{margin-top: 3em;margin-bottom: 2em;}
  .carousel{margin-top: 2em;}
  h3{margin-top: 2em;}
}

@media screen and (max-width: 800px) {
   .bg{
    background-image: url('/photos/chol2.jpg');
    background-size: 50%;
    height: 400px;
  }
  h2{font-size: 1.7em;}
  .menu{font-size: 1.4em;}
  .navbar{padding: 0;}
}

@media screen and (max-width: 400px) {
  .bg{
    background-size: 100%;
  }
  h2{font-size: 1.5em;}
  .menu{font-size: 1.5em;}
  #menu h2{font-size: 1.2em;}
  h3{margin-top: 0.8em;}
}
