---

---
    {% include head.html %}
    <div class="bg"></div>
    <div class="container">
      <div class="title">
        <h1>Chol Traiteur</h1>
        <span>20 ans d'expérience à vos côtés</span>
      </div>
      <h2><span><img src="span.svg"></span>Qui sommes nous<span><img src="span.svg"></span></h2>
        <div class="row text-center">
          <div class="col-lg-4 offset-lg-1">
            <img src="/photos/serge.jpg" class="profil img-responsive" alt="photo de Serge" title="photo de Serge">
            <h3><span><img src="span.svg"></span>Serge<span><img src="span.svg"></span></h3>
              <p>Serge a 35 ans, et <b>la cuisine, c’est l’histoire de sa vie&nbsp;!</b> A 16 ans il commence son apprentissage et depuis, cette passion ne l’a jamais vraiment quitté.<p>

             <p>Il poursuit sa carrière chez Gilda Traiteur et touche à tout&nbsp;:&nbsp;<b>commis, pâtissier, maître d’apprentissage et chef cuisinier,</b> bref il sait tout faire&nbsp;!</p>

             <p>20 ans plus tard, il a rajouté quelques autres activités à son profil, en tant qu’extras&nbsp;:&nbsp;<b>professeur au CFA La Noue, cuisinier à la Flambée, entre autres, et chef de rang au restaurant gastronomique de l’Hôtel Golf Château de Chailly.</b></p>

             <p>Alors, c’est tout naturellement qu’il reprend l’entreprise qu’il connait si bien, et qu’il faisait déjà tourner depuis quelques années, avec celle qui partage maintenant sa vie.</p>
          </div>
          <div class="col-lg-4 offset-lg-2">
            <img src="/photos/marie.jpg" class="profil img-responsive" alt="photo de Marie" title="photo de Marie">
            <h3><span><img src="span.svg"></span>Marie<span><img src="span.svg"></span></h3>
              <p class="short">Après 5 années d’études à Vatel à Lyon en management hôtelier international, où elle travaille notamment chez Jacques Chibois à Grasse, à la Palme d’Or à Cannes et chez Emmanuel Renault à Megève, Marie décide de partir travailler en Australie pendant un an, car elle s’est découvert pendant ses études une vraie passion pour le voyage. Pas moins de 17 pays au compteur, qu’elle a visité pour le travail ou en sac à dos avec des amies.<p>

              <p class="short">Fin 2014 quand elle rentre, son frère a ouvert le premier food truck de Bourgogne et elle le rejoint pour l’aider, en cherchant du travail à côté, dans cette région qui est depuis devenue sa region de cœur.</p>

              <p class="short">Marie rentre à l’Hôtel Golf Château de Chailly en 2015 en tant que <b>coordinatrice séminaires et banquets</b> et gravira les échelons pour devenir en 2017, <b>responsable commercial et communication de l’ensemble de la structure.</b></p>

              <p class="short">Fin 2018, un projet fou se dessine, reprendre une entreprise avec l’homme qui partage sa vie, alors pourquoi pas&nbsp;?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2 bottom">
          <h3><span><img src="span.svg"></span>Nous<span><img src="span.svg"></span></h3>
          <p>Nous avons eu un <b>coup de foudre professionnel (et pas que&nbsp;!)</b> et c’est tout naturellement que nous avons décidé de se lancer ensemble dans cette folle aventure&nbsp;!</p>

          <p>Nous sommes une entreprise <b>familiale et artisanale, toujours à l’écoute de notre clientèle.</b></p>

          <p>Depuis le 15 mars, nous nous sommes jetés à corps perdu dans cette entreprise avec comme idée principale&nbsp;:&nbsp;<b>toujours la satisfaction de nos clients.</b></p>
        </div>
      </div>
    </div>

  {% include footer.html %}
