---
layout: default
---
    <div class="bandeau">
      <div class="head_title">
        <img src="/photos/bandeau/logo-bandeau.png" width="400">
        <h2>Traiteur Artisan</h2>
        <p class="bold">depuis 1999</p>
        <p class="bold">03 80 29 82 67 — 06 71 21 46 93</p>
      </div>
    </div>
    <section>
      <div class="row index_prestation">
        <img src="/photos/index/services-professionnels.png" class="img-fluid">
          {% include prestation.html %}
        <img src="/photos/index/services-particuliers.png" class="img-fluid">
      </div>
      {% include reseaux.html %}
    </section>
