    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <ul>
              <li>86 route de Dijon 21470 Brazey en Plaine</li>
              <li>Accueil au bureau du mardi au samedi - 9h à 12h30 et 14h à 18h</li>
              <li><a href="mailto:adresse@serveur.com">contact@choltraiteur.fr</a></li>
              <li>03 80 29 82 67 &mdash; 06 71 21 46 93</li>
            </ul>
          </div>
          <div class="col-lg-5">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" href="index.html">Serge & Marie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="index.html">Nos suggestions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="realisation.html">Nos réalisations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
