<h4>Suggestion vendredi 8 et samedi 9 octobre</h4>
 
</span>
Oeufs pochés au Cîteaux <span>4€</span>
Terrine de Sandre aux petits légumes et riesling<span>5€</span>

Magret de canard rôti, sauce poivrade, crémeux de butternut du jardin et tagliatelles de courgettes du maraîcher<span>12€</span>
Risotto crémeux safrané et saint jacques, émulsion au chorizo<span>14€</span>
<h4>Desserts</h4>
Tartelette praline, Tartelette citron meringué, paris brest, éclair framboises, mousse caramel passion, véritable snickers maison...
Mais aussi nos incontournables : Choline, brioche au sucre ou au chocolat, pain d'épices, terrine de volaille à la moutarde...

<!-- Balise pour la date <h4> Ici la date </h4>
Balise pour le tarif <span></span>-->
