<h4>Suggestion vendredi 29 et samedi 30 avril</h4>

<h4>Entrées</h4>
Véritable oeuf meurette (2)<span>4,50€</span>
<span></span>
<h4>Plats</h4>
Suprême de pintade, palet de courgettes, carottes et navet, gratin de pomme de terre<span>12,50€</span>
<span></span>
<h4>Desserts</h4>
Fraisier
Tiramisu
Tarte pommes et cramberries
Entremet "Ladies" (biscuit pamplemousses, mousse pamplemousses et coulant framboises/litchi
Tartelette au citron meringuée
<!-- Balise pour la date <h4> Ici la date </h4>
Balise pour le tarif <span></span>-->
