<h4>Suggestion vendredi 19 et samedi 20 novembre</h4>

Oeuf meurette sauce Epoisses<span>4,50€</span>
<span></span>

Cuisse de pintade, sauce morilles, gratin de légumes (potiron, butternut ...)<span>12€</span>
Lasagnes et salade verte<span>8€</span>

<h4>Desserts toujours disponibles</h4>
Tout cacahuète, tartelette à la praline, paris brest, éclair toblerone, Pavlova...
Mais aussi nos incontournables : brioche au sucre ou au chocolat, terrine de volaille à la moutarde...

<!-- Balise pour la date <h4> Ici la date </h4>
Balise pour le tarif <span></span>-->
