<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div id="form">
        <div class="modal-header">
          <h3 class="modal-title" id="contactModalTitle">Contactez-nous</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Laissez-nous vos coordonnées et notre équipe vous contactera dans les plus brefs délais.</p>
          <form method="POST" action="https://neamar.fr/email.php" id="popupform">
            <input type="hidden" name="protection" id="protection" value="1" />
            <input type="hidden" name="_subject" value="Contact Site" />
            <input type="hidden" name="_to" value="contact@choltraiteur.fr" />
            <input type="hidden" name="message" value="" id="message" />
            <div class="form-group">
              <input type="name" class="form-control" required id="name" name="name" placeholder="Nom Prénom / Entreprise">
              <input type="telephone" class="form-control" required id="phone" name="phone" placeholder="Téléphone">
              <input type="email" class="form-control" required id="_replyto" name="_replyto" placeholder="Email">
            </div>
            <p>Vous êtes intéressé par un devis gratuit pour :</p>
            <div class="row-wrap">
              {% assign category_p = site.pages | sort: "order" %}
              {% for s in category_p %}
                {% if s.order and s.hiding != true %}
                <div class="form-check">
                  <input type="checkbox" value="{{ s.name|downcase }}" id="{{ s.name|downcase }}" name="interests">
                  <label class="form-check-label" for="{{ s.name|downcase}}">
                    <span>{{ s.title }}</span>
                    <img src="/photos/{% if s.category == 'pro' %}services-professionnels{% else %}services-particuliers{% endif %}/{{ s.img }}.png" width="180">
                  </label>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          <textarea class="form-control" id="message-body" rows="5" cols="20" name="message-body" placeholder="Message"></textarea>
          <input type="submit" class="cta" value="Envoyer" />
        </form>
      </div>
      <div id="mailsent">
        <div class="info success">
          <p>Votre message a bien été envoyé.</p>
        </div>
        <div class="info error">
          <p>Une erreur s'est produite.</p>
          <button class="cta" id="form-retry">Réessayer</button>
        </div>
      </div>
    </div>
  </div>
</div>
