<div class="reseaux row">
  <span class="span_title">Nos réseaux sociaux</span>
  <div class="row">
    <a href="https://www.instagram.com/choltraiteur/" target="_blank"><img src="photos/reseaux/instagram.png" width="30" height="30"><span>@choltraiteur</span></a>
  </div>
  <div class="row">
    <a href="https://www.facebook.com/choltraiteur" target="_blank"><img src="photos/reseaux/facebook.png" width="30" height="30">
    <span>choltraiteur</span></a>
  </div>
  <div class="row">
    <a href="mailto:contact@choltraiteur.fr"><img src="photos/reseaux/mail.png" width="30" height="30"><span>contact@choltraiteur.fr</span></a>
  </div>
  <div class="row">
    <img src="photos/reseaux/telephone.png" width="30" height="30">
    <p>03 80 29 82 67 — 06 71 21 46 93</p>
  </div>
</div>