---
---

<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

    {% include analytics.html %}

    <title>
      {% if page.title %}
        {{ page.title }} &middot; Chol traiteur
      {% else %}
        Chol traiteur
      {% endif %}
      </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html"><img src="photos/logo.png" id="logo" class="img-responsive"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="suggestions.html">Nos suggestions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="realisation.html">Nos réalisations</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              La boutique
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="boutique.html">La boutique</a>
              <a class="dropdown-item" href="patisseries.html">Nos pâtisseries</a>
              <a class="dropdown-item" href="menus.html">Nos menus à thèmes</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

{{ content }}

    <footer>
      <img src="/photos/footer/plat.png" width="350" class="footer-img">
      <div>
        <img src="/photos/footer/logo-blanc.png" width="300">
        <p>86 route de Dijon</p>
        <p>21470 Brazey en Plaine</p>
        <a href="">contact@choltraiteur.fr</a>
        <p>03 80 29 82 67 — 06 71 21 46 93</p>
      </div>
      <div>
        <p>Service traiteur Particuliers</p>
        <ul>
          <li>Vin d’honneur</li>
          <li>Mariage</li>
          <li>Traiteur</li>
          <li>Cocktail</li>
          <li>Boissons</li>
          <li>Brunch/Buffet</li>
          <li>Portage de repas</li>
        </ul>
      </div>
      <div>
        <p>Service traiteur Professionnels</p>
        <ul>
          <li>Plateaux repas</li>
          <li>Repas chaud</li>
          <li>Café accueil</li>
          <li>Boissons</li>
        </ul>
      </div>
      <img src="/photos/footer/decoration.png" class="footer-img">
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    {% if include.with_contact_script %}
    {% include script.html %}
    {% endif %}
    <script type="text/javascript">
      $('.carousel').carousel({
        interval: 2000
      })
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
          event.preventDefault();
          $(this).ekkoLightbox();
      });
    </script>
  </body>
</html>
