---
---
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/design.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@900&display=swap" rel="stylesheet">

    {% include analytics.html %}

    <title>
      {% if page.title %}
        {{ page.title }} &middot; Chol traiteur
      {% else %}
        Chol traiteur
      {% endif %}
      </title>
  </head>
  <body>
    <nav class="sub-menu">
      <div class="nav_container">
        <a href="/" id="logo"><img src="/photos/logo-nav.png" width="229" height="108"></a>
        <a class="nav-btn {% if page.title == 'Choltraiteur' %} active{% endif %}" href="/">Accueil</a>
        <div class="sub-menu-nav particuliers">
          <a href="/services-particuliers/services-particuliers.html" class="nav-btn {% if page.category == 'particuliers' %}active{% endif %}">Services particuliers</a>
          <div class="sub-menu-alt">
            {% assign category_p = site.pages | sort: "order" %}
            {% for s in category_p %}
              {% if s.category == 'particuliers' and s.hiding != true %}
              <a href="..{{s.url}}">{{ s.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="sub-menu-nav pro">
          <a href="/services-professionnels/services-professionnels.html" class="nav-btn {% if page.category == 'pro' %}active{% endif %}">Services professionnels</a>
          <div class="sub-menu-alt">
            {% assign category_p = site.pages | sort: "order" %}
            {% for s in category_p %}
              {% if s.category == 'pro' and s.hiding != true %}
              <a href="..{{s.url}}">{{ s.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <p>03 80 29 82 67 — 06 71 21 46 93</p>
        <button class="cta">Devis gratuit</button>
      </div>
    </nav>
    
{{ content }}
    <div class="contact column center grey">
      <h2>Contact</h2>
      <form action="https://neamar.fr/email.php" method="POST" id="contactform" onsubmit="document.getElementById('protection').value = 2"/>
        <input type="hidden" name="protection" id="protection" value="1" />
        <p>Pour une demande de devis, n'hésitez pas à préciser : le nombre de convives, la date, si besoin de vaisselle et/ou de serveurs ainsi que vos coordonnées.</p>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" name="_replyto">
        <input type="hidden" name="_subject" value="Contact choltraiteur.fr" />
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="12" name="message"></textarea>
        <input type="hidden" name="_to" value="contact@choltraiteur.fr" />
        <input class="button" type="submit" value="Envoyer">
        <div class="info success">
          Votre message a bien été envoyé
        </div>
        <div class="info error">
          Une erreur s'est produite.
        </div>
      </form>
    </div>
    <footer>
      <img src="/photos/footer/plat.png" width="350" class="footer-img">
      <div>
        <img src="/photos/footer/logo-blanc.png" width="300">
        <p>86 route de Dijon</p>
        <p>21470 Brazey en Plaine</p>
        <a href="mailto:contact@choltraiteur.fr" class="link-style">contact@choltraiteur.fr</a>
        <p>03 80 29 82 67 — 06 71 21 46 93</p>
      </div>
      <div>
        <ul>
          {% assign category_p = site.pages | sort: "order" %}
            {% for s in category_p %}
              {% if s.category == 'particuliers' %}
              <li><a href="..{{s.url}}" class="link-style">{{ s.title }}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
      </div>
      <div>
        <ul>
          {% assign category_p = site.pages | sort: "order" %}
            {% for s in category_p %}
              {% if s.category == 'pro' %}
              <li><a href="..{{s.url}}" class="link-style">{{ s.title }}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
      </div>
      <img src="/photos/footer/decoration.png" width="100" class="footer-img">
    </footer>

    {% if include.with_contact_script %}
      {% include script.html %}
    {% endif %}
  </body>
</html>
