---
---
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/design.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

    {% include analytics.html %}

    <title>
      {% if page.title %}
        {{ page.title }} &middot; Chol traiteur
      {% else %}
        Chol traiteur
      {% endif %}
      </title>
  </head>
  <body>
    <nav class="sub-menu">
      <a href="/" id="logo"><img src="/photos/logo.png"></a>
      <a class="active" href="/">Accueil</a>
      <div class="sub-menu-nav particuliers">
        <a href="/services-particuliers/services-particuliers.html" class="nav-btn">Services particuliers</a>
        <div class="sub-menu-alt">
          <a href="#">Vin d'honneur</a>
          <a href="#">Mariage</a>
          <a href="#">Traiteur</a>
          <a href="#">Cocktail</a>
          <a href="#">Boissons</a>
          <a href="#">Brunch/Buffet</a>
          <a href="#">Portage de repas</a>
        </div>
      </div> 
      <div class="sub-menu-nav pro">
        <a href="services-professionnels/services-professionnels.html" class="nav-btn">Services professionnels</a>
        <div class="sub-menu-alt">
          <a href="#">Plateaux repas</a>
          <a href="#">Repas chaud</a>
          <a href="#">Café accueil</a>
          <a href="#">Boissons</a>
        </div>
      </div>
      <p>03 80 29 82 67 — 06 71 21 46 93</p>
      <button class="cta">Devis gratuit</button>
    </nav>
    
{{ content }}
    <div class="contact column center grey">
      <h3>Contact</h3>
      <form action="https://neamar.fr/email.php" method="POST" id="contactform" onsubmit="document.getElementById('protection').value = 2"/>
        <input type="hidden" name="protection" id="protection" value="1" />
        <p>Pour une demande de devis, n'hésitez pas à préciser : le nombre de convives, la date, si besoin de vaisselle et/ou de serveurs ainsi que vos coordonnées.</p>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" name="_replyto">
        <input type="hidden" name="_subject" value="Contact choltraiteur.fr" />
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="12" name="message"></textarea>
        <input type="hidden" name="_to" value="contact@choltraiteur.fr" />
        <input class="button" type="submit" value="Envoyer">
        <div class="info success">
          Votre message a bien été envoyé
        </div>
        <div class="info error">
          Une erreur s'est produite.
        </div>
      </form>
    </div>
    <footer>
      <img src="/photos/footer/plat.png" width="350" class="footer-img">
      <div>
        <img src="/photos/footer/logo-blanc.png" width="300">
        <p>86 route de Dijon</p>
        <p>21470 Brazey en Plaine</p>
        <a href="mailto:contact@choltraiteur.fr">contact@choltraiteur.fr</a>
        <p>03 80 29 82 67 — 06 71 21 46 93</p>
      </div>
      <div>
        <p>Service traiteur Particuliers</p>
        <ul>
          <li><a href="">Vin d’honneur</a></li>
          <li><a href="">Mariage</a></li>
          <li><a href="">Traiteur</a></li>
          <li><a href="">Cocktail</a></li>
          <li><a href="">Boissons</a></li>
          <li><a href="">Brunch/Buffet</a></li>
          <li><a href="">Portage de repas</a></li>
        </ul>
      </div>
      <div>
        <p>Service traiteur Professionnels</p>
        <ul>
          <li><a href="">Plateaux repas</a></li>
          <li><a href="">Repas chaud</a></li>
          <li><a href="">Café accueil</a></li>
          <li><a href="">Boissons</a></li>
        </ul>
      </div>
      <img src="/photos/footer/decoration.png" class="footer-img">
    </footer>

    {% if include.with_contact_script %}
      {% include script.html %}
    {% endif %}
  </body>
</html>
