---
layout: menus-group
---

<h1>{{ page.title }}</h1>
{{content}}

<div class="column">
  <div class="row reseaux">
  <div class="column center">
    <p class="p_title">Nous appelez :</p>
    <p>03 80 29 82 67 — 06 71 21 46 93</p>
  </div>
  <div class="column center">
    <p class="p_title">faire une demande de :</p>
    <button class="cta cta_white">Devis gratuit</button>
  </div>
</div>

  {% for p in site.pages %}
    {% if p.title == page.next %}
    <div class="row center row_next">
      <img src="/photos/services-particuliers/{{ p.img }}.png" width="500">
      <div>
        <h3>{{ p.title }}</h3>
        <p>Découvrez nos {{ p.subtitle }}</p>
        <a href="..{{ p.url }}" class="cta-link">Je découvre</a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
